@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    min-height: 150px;
    padding: 10px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    margin-bottom: 0px;
}

header > p {
    margin-bottom: 40px;
}

header > p > a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: var(--fonte1);
}

.normal {
    padding: 10px;
    padding-left: 40px;
    font-size: 2em;
    font-family: var(--fonte3);
}

.fundo1 {
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    min-height: 200px;
}

.fundo1>p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    min-width: 150px;
    max-width: 300px;
    font-size: 2em;
    font-family: var(--fonte3);
}

.fundo2 {
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    min-height: 200px;
}

.fundo2>p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    min-width: 150px;
    max-width: 300px;
    font-size: 2em;
    font-family: var(--fonte3);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}